/* ======================grundsettings==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222222;
}
/* ======================navbar===== */
.navbar {
  background-color: #222222;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  padding: 0;
  height: 85px;
}

.navbar .nav-brand {
  position: relative;
  top: -15px; /*vertikal*/
  background-color: #3498DB;
  color: white;
  font-weight: 900;
  font-size: 2em;
  padding: 20px 10px 0px 10px;
  text-decoration: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-right: auto; 
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-card-item {
  list-style: none;
}

.navbar li .nav-link {
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

.navbar li .nav-link:hover {
  color: #3498DB !important;
  background-color: rgba(52, 152, 219, 0.1); 
}

.cv-download {
  color: #ffffff;
  border: none;
  background-color: #3498DB; 
  padding: 15px 20px;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 17px;
  display: flex; 
  align-items: center;
}

.cv-download .fa-cloud-arrow-down {
  margin-right: 10px;
}

.scroll-progress-track {
  position: fixed;
  top: 85px;
  width: 100%;
  height: 5px;
  background-color: transparent;
  z-index: 1001;
}

#progress-bar {
  height: 100%;
  background-color: #3498DB;
  width: 0%;
}

/* Hamburger Icon */
.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#nav-icon {
  width: 25px;
  height: 30px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}
.navbar-collapse > a {
  text-decoration: none;
}

#nav-icon span:nth-child(1) { top: 0px; }
#nav-icon span:nth-child(2) { top: 10px; background-color: #3498DB; }
#nav-icon span:nth-child(3) { top: 20px; }

/* Animation für Hamburger-Icon (offen) */
#nav-icon.open span:nth-child(1) { top: 10px; transform: rotate(135deg); }
#nav-icon.open span:nth-child(2) { opacity: 0; left: -60px; }
#nav-icon.open span:nth-child(3) { top: 10px; transform: rotate(-135deg); }

/* MobileView */
@media (max-width: 991px) {
  .navbar .container {
    justify-content: space-between;
    width: 100%;
  }
  .navbar .nav-brand {
    position: absolute;
    top: 0;
    left: 1rem;
    margin-right: 0;
    top: -1px;
  }
  .navbar-toggler {
    position: absolute;
    top: 25px;
    right: 1rem;
  }
  .navbar-collapse {
    background-color: #222222;
    padding: 20px;
    margin-top: 70px;
    border-radius: 5px;
    width: 100%;
  }
  .navbar-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .nav-card-item {
    width: 100%;
    text-align: center;
  }
  .cv-download {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    justify-content: center;
  }
}
/* ======================= ABSCHNITTE & HINTERGRÜNDE ======================= */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  box-sizing: border-box;
}

.bg-dark {
  background-color: #222222;
  color: #ffffff;
}

.bg-light {
  background-color: #ffffff;
  color: #222222;
}
/* ======================= ABOUT ME SECTION===================== */
#about {
  padding: 100px 40px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.about-text, .about-image {
  flex: 1;
}

.about-text h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #cccccc;
  margin-bottom: 10px; 
}

.about-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
}

.about-text h1 span {
  color: #3498DB;
}

.about-text h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #cccccc;
  margin-top: 10px;
  margin-bottom: 25px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #b8b5b5;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .about-image {
    order: -1;
  }

  .about-text h1 {
    font-size: 2.5rem;
  }
  .about-text h2, .about-text h3 {
      font-size: 1.5rem;
  }
}
/* =========social buttons==== */
/*Container für Buttons. */
.social-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: transparent;
  margin-top: 25px;
  padding: 0;
}
/*fAll */
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
/* Der Container, der das Icon direkt umschließt */
.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  border-radius: 10px;
  transition: all 0.3s;
  z-index: 2;
}
.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}
.github .BG { background: #181818; }
.whatsapp .BG { background: #075e54; }
.linkdin .BG { background: #0077b5; }
.discord .BG { background: #7289da; }

.Btn:hover .BG {
  transform: scale(1.5);
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {

  border: 1px solid rgba(170, 170, 170, 0.6);
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
}

/* Anpassung für mobile Ansicht: Zentriert die Buttons */
@media (max-width: 768px) {
  .social-card {
    justify-content: center;
    /* Zentriert die Buttons unter dem Text auf kleinen Bildschirmen */
  }
}

.scrolldown {

  position: absolute; 
  bottom: 7%;       
  left: 50%;         
  transform: translateX(-50%); 
  cursor: pointer;

  --color: #3498DB;
  --sizeX: 30px;
  --sizeY: 50px;
  width: var(--sizeX);
  height: var(--sizeY);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}
@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/* ======================= ABOUT ME SECTION Ende ===================== */
#focus-section {
  padding: 120px 40px;
  background-color: #ffffff;
  color: #222222;
  overflow: hidden; 
}

.focus-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 9%;
  align-items: start;
  margin-bottom: 12%;
}

.focus-container .section-title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}

.focus-container .section-title::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

/* Links*/
.focus-left {
  position: relative;
}

.focus-left img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
}

.focus-quote {
  position: absolute;
  bottom: -15%;
  right: -40px;
  background-color: #3498DB;
  color: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.focus-quote blockquote {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4;
  border-left: 4px solid white;
  padding-left: 20px;
}
.focus-text h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3498DB;
  margin-top: 0;
  margin-bottom: 10px;
}

.focus-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444444;
  margin: 0;
  margin-bottom: 1em;
}
.focus-text p:last-child {
    margin-bottom: 0;
}

/* Responsive Anpassungen */
@media (max-width: 992px) {
  .focus-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .focus-right {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  #focus-section {
    padding: 80px 20px;
  }
  .focus-container .section-title {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
  .focus-quote {
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: -40px;
    max-width: 100%;
  }
  .focus-right {
    margin-top: 40px;
  }
}
/* ========= SKILLS Section start============= */
#skills {
  padding: 100px 40px;
  background-color: #222222;
}

.skills-container {
  width: 80%;
  max-width: 1400px; 
  margin: 0 auto;
  text-align: center;
}

#skills .section-title {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
}

#skills .section-title::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 4px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.subsection-title {
  color: #dddddd;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px 20px;
  margin-bottom: 15%;
}


.skill-card {
  background-color: transparent;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.1);
}

.skill-card i, 
.skill-card img,
.skill-card span[class^="flag-icon"] {
  font-size: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  object-fit: contain;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.skill-card p {
  color: #cccccc;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  line-height: 1.2;
}

.skill-card span {
  color: #999999;
  font-size: 0.8rem;
  margin-top: 5px;
}

